
body
    {
        margin: 0;
         height: 100vh;
          overflow: hidden;
          font-family: 'Katibeh';

    }
    .start{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100vw;
        height: 100vh;
    }.gameOver{
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100vw;
        height: 100vh;
        align-items: center;
    }
.inGame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.bg{
position: fixed;
width: 100vw;
height: 100vh;
left: 0px;
top: 0px;
z-index: 0;
background-color: #FFE3DB;}

.start .bg {
    z-index: 0;
}

body{
    font-family: 'Katibeh';


}
.inGame .title {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 20vh;
    z-index: 20;

}
.gameOver .title {
    text-align: center;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    height: 20vh;
    z-index: 2200;

}
.start .title {
    text-align: center;
    display: flex;   
     flex-direction: column;
    margin-bottom: 1em;
    align-items: center;
 
    z-index: 2200;

}

.title .cats{

font-family: 'Katibeh';
font-style: normal;
font-size: 2.5rem;
font-weight: 600;

color: #FBB03B;
z-index: 20;


}
h2{
    margin: 0 0 0 0;
}
.title h1 {
margin-bottom: 0.2em;
font-family: 'Katibeh';
font-style: normal;
font-weight: bold;
font-size: 3.4rem;
color: #73512E;
z-index: 15;
}
.inGame .playBtn{
    display: none;
}.gameOver .playBtn{
    display: none;
}
.start .playBtn {
    z-index: 2200;
    margin-top: 4em;
    width: fit-content;
    height: fit-content;
    border-radius: 10em;
    border: none;
    background-color: #8C6338;
    padding: 0;

}
button:hover{
transform: scale(1.1);
transition: 0.2s ease-in-out;

}
.playBtn p   {
    font-size: 4.5rem;
    font-family: 'Katibeh';
    color: #FBB03B;
    margin: 0.15em 0.4em;
    font-weight: 700;
    margin-bottom: -10px;


}
.inGame .bgPaws{
    display: none;
}

.start .bgPaws{
    z-index: 20;
    display: flex;
    flex-direction: column;;
}
.start .bgPaw  {
    z-index: 2200;
    width: 70vw;

}
.bgPaw:hover{
    transform: translateX(5%);
    transition: 0.5s ease-in-out;
}
.start .bgPaw2  {
    z-index: 2200;
    width: 70vw;
    place-self: flex-end;

}
.bgPaw2:hover{
    transform: translateX(-5%);
    transition: 0.5s ease-in-out;
}



.inGame .action{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    z-index: 200;
}
.inGame .action.nochoice{
    filter: blur(4px);
    opacity: 70%;
}
.inGame .action button{
    margin: 0 1.3em 0 1.3em;
    height: fit-content;
    width: 7em;
    border: 0;
    border-radius: 5em;
    background:#FFE3DB;
    z-index: 200;
}
.inGame .action .button .choice{
    width: 100em;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

}

.inGame .action .chrock:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
.inGame .action .chpaper:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
.inGame .action .chscisors:hover{
    transform: scale(1.1);
    transition: 0.5s ease-out;
}
 .inGame .names{
    display: none;
    z-index: 20;
   
    bottom: 0.5vh;
    left: 10vw;
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
 }
 .inGame .down{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .inGame .down .text{
margin-bottom: 5px;
margin-top: 0.5em;
    z-index: 20;
    width: 19em;
 }

 .inGame .info{
    width: 90vw;
    margin-top: 0em;
    display: flex;
    justify-content: space-evenly;
 }
.inGame .player{
    
    font-size: 2rem;
    z-index: 20;
    color: #73512E;
    font-size: 4rem;
    font-weight: 500;
}

.info p{
    margin: 0em auto;
}
.inGame .computer{
 
    font-size: 2rem;
    z-index: 20;
    font-size: 4rem;
    color: #73512E;
    font-weight: 500;
}

.inGame .you{
    text-align: center;

    font-size: 4rem;
    color: #73512E;

    z-index: 1000;
}

.inGame .score{
    z-index: 20;

    font-size: 3.5rem;
    font-family: 'Katibeh';
    color: #73512E;

}
.gameOver .choice{
    display: none;
}
.inGame .urchoice{

    position: absolute;
    right:120vw;
    top: -5em;
    transform: rotate(90deg);
    z-index: 20;
    transform-origin: bottom left;

}
.inGame .urchoice.animate{
    animation: updownyou 0.8s 3 ;
}

@keyframes updownyou {
    0% {
        transition: ease-in-out;
    }
    50% {
        transform: rotate(50deg);
        transition: ease-in;
    }
    100% {
    
    }
}
.inGame .urchoice.win{
    animation: youwin 1s 1;
}
@keyframes youwin {
    0%{

    }
    40%{
        transform: rotate(80deg);
    }
    60%{
        right: 110vw ;
    }
    100%{

    }
}
.inGame .cmpchoice{
    
    position: absolute;
    left:130vw;
    top: -10em;
    transform: rotate(-90deg);
    z-index: 20;
    transform-origin: bottom right;
}
.inGame .cmpchoice.animate{
    animation: updowncmp 0.8s 3 ;
    
}
@keyframes updowncmp {
    0% {
 
        transition: ease-in-out;
    }
    50% {
 
        transform: rotate(-50deg);
        transition: ease-in;
    }
    100% {

    }
}
.inGame .cmpchoice.win{
    animation: cmpwin 1s 1;
}
@keyframes cmpwin {
    0%{

    }
    40%{
        transform: rotate(-80deg);
    }
    60%{
        left:130vw ;
    }
    100%{

    }
}

.inGame .finalResult{
    display: none;
}
 .gameOver .finalResult{
    width: 85vw;
    z-index: 200;
    font-size: 2.5rem;
    text-align: center;
    color: #73512E;
 }
 .inGame .rePlayBtn {
    display: none;
 }
 .gameOver .rePlayBtn{
    margin-top: 2em;
    z-index: 2200;
    width: fit-content;
    height: fit-content;
    border-radius: 10em;
    border: none;
    background-color: #8C6338;
    padding: 0;
 }
 .gameOver .down{
    display: none;
 }
.start .choice{
    display: none;
}
 .gameOver .rePlayBtn p{
    font-size: 3rem;
    margin: 0.15em 0.4em;
    margin-bottom: -10px;
    font-family: 'Katibeh';
    color: #FBB03B;

    font-weight: 700;

 }
 .gameOver .bgPaw{
    display: none;
   } .gameOver .bgPaw2{
    display: none;
   }
 @media screen and (min-width: 900px) {
   html{
    font-size: 150%;
   }

   .start .bgPaws{
    width: 100vw;
   }
  .start .bgPaw{
    width: 45vw;
   }
   .start .bgPaw2{
    width: 45vw;
    margin-top: -14em;
    margin-left: -10em;
   }
   .inGame  .urchoice{
    width: 14em;
    right: 99vw;
    top: -25em;
   }
   .inGame  .cmpchoice{
    width: 14em;
    left: 99vw;
    top: -25em;
   }
   @keyframes youwin {
    0%{

    }
    40%{
        transform: rotate(80deg);
    }
    60%{
        right: 80vw ;
    }
    100%{

    }
}
@keyframes cmpwin {
    0%{

    }
    40%{
        transform: rotate(-80deg);
    }
    60%{
        left:80vw ;
    }
    100%{

    }
}
  }

  @media screen and (min-width: 1500px) {
    html{
        font-size: 180%;
    }
    .inGame  .urchoice{
        font-size: 85%;
        width: 20em;
        right: 100vw;
        top: -32em;
       }
       .inGame  .cmpchoice{
        font-size: 85%;
        width: 20em;
        left: 100vw;
        top: -34em;
       }
       @keyframes youwin {
        0%{
    
        }
        40%{
            transform: rotate(80deg);
        }
        60%{
            right: 83vw ;
        }
        100%{
    
        }
    }
    @keyframes cmpwin {
        0%{
    
        }
        40%{
            transform: rotate(-80deg);
        }
        60%{
            left:83vw ;
        }
        100%{
    
        }
    }
  }
